snippet th "Add $this in a more convenient way."
\$this->
endsnippet

snippet this "Add $this in a more convenient way."
\$this->
endsnippet

snippet test "Test method in PHPUnit"
/** @test */
public function ${1:}()
{
	${2:}
}
endsnippet
